body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px;
}

.form-section {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

input {
    width: 96%;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: grey;
    color: white;
    border: none;
    pointer-events: none;
}


button:hover {
    background-color: #218838;
}

button:disabled:hover {
    background-color: grey;
    pointer-events: none;
}

#videoElement {
    width: 100%;
}
#canvas {
    display: none;

}

#imageLink {
    font-size: 8pt;
}

/* New CSS for Certified Pure section */
#certified-pure {
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.certified-pure-label {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

#certification-details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#certification-details label {
    margin-top: 0;
}

#certification-details input {
    width: 94%;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* This allows items to wrap if necessary */
}

.radio-group label {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Ensure all labels take up equal space */
    padding: 5px;
    text-align: center; /* Center the text for consistency */
    min-width: 100px; /* Optional: Set a minimum width for consistency */
}

#vehicle-type-label, #product-type-label {
    margin-bottom: 10px; /* Add some space below the labels */
    font-weight: bold; /* Make the label bold for emphasis */
}

.spacer {
    height: 15px; /* Adjust this value to control the space */
}

/* Flexbox container for the language selector */
#language-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjusts the space between the label and dropdown */
}

/* Optional: additional styling for the label and select */
#language-label {
    margin: 0;
    font-weight: regular; /* Example of additional styling */
}

#language-selector {
    padding: 5px;
    font-size: 16px;
}

/* Styling for nicer file upload button*/


.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

/* Hide the default file input */
#fileInput {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/* Style the label as a button */
.custom-file-upload {

    display: inline-flex;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #4CAF50;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #45a049;
    border-color: #45a049;
}

/* Style the icon inside the button */
.custom-file-upload i {
    margin-right: 10px; /* Spacing between the icon and the text */
}
